/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center; }
  body main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 16px; }
    body main img {
      margin: 0 0 32px;
      max-width: 80vw;
      width: 200px; }
    body main .input-wrapper {
      border-radius: 8px;
      border: 2px solid #fff;
      margin: 48px 0;
      margin: 5px;
      max-width: 80vw;
      padding: 0;
      transition: all .25s ease-in-out; }
      body main .input-wrapper:focus-within {
        margin: 0;
        padding: 5px; }
      body main .input-wrapper input {
        border-radius: 5px;
        border: 0;
        box-sizing: border-box;
        cursor: text;
        font-family: 'Special Elite', monospace;
        font-size: 1rem;
        padding: 8px 16px;
        transition: color .25s ease-in-out;
        width: 100%; }
        body main .input-wrapper input:focus {
          outline: none; }
        body main .input-wrapper input.clearing {
          color: transparent; }
    body main .message-wrapper {
      margin: 32px 0;
      max-width: 80vw; }
      body main .message-wrapper p {
        color: #fff;
        font-family: 'Special Elite', monospace; }
